---
import Layout from "../layouts/Layout.astro"
---



<Layout title="Help">
	<main class="max-w-[1200px] mx-auto">
		<h1>Help</h1>
		<p>Hey there, fellow developer! Welcome to our help page. We know how frustrating it can be to get stuck on a coding problem, so we've put together this resource to help you out. Whether you're a seasoned pro or just starting out, we've got tips and tricks that will make your coding life easier. So grab a cup of coffee, take a deep breath, and let's dive in!</p>
		<h2>Getting set up</h2>
		<p>StackUnderflow uses a Postgres Database at the backend, this is what makes it so you don't have to wait all day long for a search query.</p>
		<p>Getting set up with a PostgreSQL database is a breeze. To start</p>
	</main>

</Layout>